/*************************************

Space

*************************************/
.p-60-0-30 {
	padding-top: 60px;
	margin-bottom: 30px;
}

.p-90-0-60 {
	padding-top: 90px;
	margin-bottom: 60px;
}

.mb15 {
	margin-bottom: 15px;
}

.mb30 {
	margin-bottom: 30px;
}

.mb60 {
	margin-bottom: 60px;
}

/*************************************

Common

*************************************/

/*Start Style for More Block in filter widget */
.more-button-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.profolio-more-popup {
	display: none;
	position: absolute;
	overflow: visible;
	z-index: 10;
	background: #fff;
	border: 1px solid lightgray;
	padding-top: 20px;
	top: 50px;
	right: 0;
}

.profolio-more-popup.active {
	display: block;
}

.more-button-container .click {
	display: block;
}

.more-button-container a {
	display: block;
	height: 73%;
	margin-right: 15px;
}

/*End Style for More Block in filter widget */

.profolio-container {
	clear: both;
}

.progolio-project-wrap {
	max-width: 100%;
}

.profolio-color-1 {
	color: #0274be;
}

.profolio-color-2 {
	color: #F79625;
}

.profolio-section-title {
	font-size: 48px;
	line-height: normal;
}

.profolio-header-xs,
.profolio-elm-title {
	text-transform: uppercase;
	color: #3f3a4c;
	font-weight: bold;
	cursor: pointer;
}

.profolio-header-xs:hover,
.profolio-elm-title:hover {
	color: inherit;
	text-decoration: none;
}

.profolio-elm-title span {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	background-color: #FB423D;
	margin-right: 7px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	-webkit-transform: translateY(-3px);
	transform: translateY(-3px);
}

.profolio-elm-title i {
	font-size: 12px;
	color: #fff;
	-ms-flex-item-align: center;
	align-self: center;
	text-align: center;
}

.profolio-section-title-sm {
	font-size: 28px;
}

.profolio-header-xxs {
	text-transform: uppercase;
	text-decoration: none;
	color: #3f3a4c;
	font-size: 14px;
}

.profolio-text-sm,
.profolio-dflt-text {
	font-weight: 200;
	opacity: .8;
	font-size: 14px;
}

.profolio-text-sm span,
.profolio-dflt-text span {
	font-weight: 600;
}

.profolio-text-sm i {
	margin-right: 7px;
	font-size: 13px;
}

.profolio-text-xs span,
.profolio-dflt-text span {
	font-weight: 600;
}

.profolio-text-xs i {
	margin-right: 5px;
	font-size: 10px;
}

.profolio-underline {
	height: 4px;
	border-radius: 2px;
	background-color: #0274be;
	width: 40px;
}

text-center .profolio-underline {
	margin: auto;
}

.profolio-link {
	text-transform: uppercase;
	color: #3f3a4c;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-link:hover {
	text-decoration: none;
	color: #0274be;
	opacity: 1;
}

.profolio-r-link i {
	margin-left: 15px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-l-link i {
	margin-right: 15px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-r-link:hover.profolio-r-link i {
	margin-left: 7px;
}

.profolio-l-link:hover.profolio-l-link i {
	margin-right: 7px;
}

[type=button].profolio-default-button,
[type=submit].profolio-default-button,
.profolio-default-button {
	padding: 0 12px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bolder;
	line-height: 25px;
	height: 40px;
	background-color: #F79625;
	border: none;
	color: #fff;
	min-height: 40px;
	display: inline-block;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

a.profolio-default-button {
	padding: 7px 15px;
}

.profolio-default-button:hover {
	text-decoration: none;
	color: #fff;
	background-color: #F79625;
}

profolio-search-form .profolio-default-button {
	width: 100%;
}

.profolio-default-button i {
	margin-right: 5px;
}

.icon-left i {
	margin-right: 0;
	margin-left: 5px;
}

/******************************************

Search Bar

*******************************************/
.profolio-search-bar {
	padding: 15px 0 0 0;
	width: 100%;
	z-index: 0;
}
input[type=text].profolio-loc-input,
input[type=text].profolio-loc-input:hover,
input[type=text].profolio-loc-input:focus{
	background-color: rgba(240, 240, 250, 1);
}

.profolio-search-form .profolio-row {
	width: 100%;
}
.profolio-search-form .profolio-row > div:first-child{
	flex: 1;
	max-width: inherit;
}
.profolio-search-form .profolio-row > div{
	max-width: inherit;
}

.profolio-md-rtl-pl-15,
.profolio-ltr-pr-15,
.profolio-pr-15 {
	padding-right: 15px;
}

.form-control:focus {
	outline: inherit;
	-webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 60, 0);
	box-shadow: 0 2px 4px 0 rgba(50, 50, 60, 0);
}

.profolio-search-form {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.profolio-input-frame {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}

.input-group-text {
	height: 40px;
	width: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	text-align: center;
	border-radius: 0;
	background-color: #0274be;
	border: none;
	color: rgba(250, 250, 255, 1);
	font-size: 20px;
	padding: .375rem 12px;
}

.input-group {
	border: none;
	cursor: pointer;
}

input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
.profolio-default-input {
	padding: 15px;
	height: 40px;
	border: none;
	border-radius: 0;
	font-size: 13px;
	color: rgba(90, 90, 100, 1);
	width: 100%;
}

.profolio-search-form .profolio-default-input {
	background-color: rgba(240, 240, 250, 1);
	overflow: hidden;
}

.profolio-default-input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-weight: 100;
	font-size: 13px;
	color: rgba(90, 90, 100, .6);
}

.profolio-default-input::-moz-placeholder {
	/* Firefox 19+ */
	font-weight: 100;
	font-size: 13px;
	color: rgba(90, 90, 100, .6);
}

.profolio-default-input:-ms-input-placeholder {
	/* IE 10+ */
	font-weight: 100;
	font-size: 13px;
	color: rgba(90, 90, 100, .6);
}

.profolio-default-input:-moz-placeholder {
	/* Firefox 18- */
	font-weight: 100;
	font-size: 13px;
	color: rgba(90, 90, 100, .6);
}

nput[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
select,
textarea {
	border: none;
}

.profolio-dropdown-fake-button,
.profolio-dropdown-fake-button:hover,
.profolio-dropdown-fake-button:focus {
	background-color: rgba(240, 240, 250, 1);
	text-decoration: none;
	padding-left: 15px;
	font-weight: 100;
	color: rgba(90, 90, 100, .6);
	line-height: 11px;
}


.profolio-search-dropdown li label {
	display: inline;
	cursor: pointer;
}

.profolio-d-all,
.profolio-d-none {
	display: none;
}

.profolio-d-true {
	display: inline;
}

.profolio-search-dropdown {
	position: absolute;
	padding-left: 0;
	padding-top: 10px;
	z-index: 999999999999999999999999999999;
	background-color: rgba(250, 250, 255, 1);
	left: 0;
	pointer-events: none;
	opacity: 0;
	min-width: 200px;
	height: 240px;
	top: 30px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
	box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
	font-size: 13px;
	color: rgba(90, 90, 100, 1);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	overflow-y: scroll;
}

.profolio-search-dropdown-active {
	top: 40px;
	pointer-events: all;
	opacity: 1;
}

.profolio-search-dropdown li {
	padding: 10px 15px;
	padding-left: 40px;
	list-style-type: none;
	cursor: pointer;
	position: relative;
}

.profolio-search-dropdown li:hover {
	background-color: rgba(245, 245, 250, 1);
}

profolio-search-form .profolio-default-button {
	width: 100%;
}

.pac-container {
	border: none;
	min-width: 290px;
	margin-top: 10px;
	padding-top: 10px;
	background-color: rgba(250, 250, 255, 1);
	-webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
	box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
}

.pac-item {
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.pac-item:hover {
	background-color: rgba(245, 245, 250, 1);
}

/******************************************

Cards

*******************************************/
.profolio-project-cards::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.profolio-project-cards {
	padding-top: 15px;
	background-color: rgba(240, 240, 250, 1);
}

.profolio-cards-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.profolio-project-card {
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	background-color: #fff;
}

.profolio-project-card .profolio-text-sm {
	font-weight: 200;
	margin-bottom: 7px;
}

.profolio-project-card .profolio-card-image-frame {
	position: relative;
	overflow: hidden;
}

.profolio-project-card .profolio-card-image-frame .profolio-card-cover {
	display: block;
	width: 100%;
	height: 220px;
	background-size: cover;
	background-position: center;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-card-image-frame .profolio-card-cover-sm {
	display: block;
	width: 100%;
	height: 110px;
	background-size: cover;
	background-position: center;
}

.profolio-card-descr {
	padding: 15px;
	position: relative;
}

.profolio-card-descr .profolio-header-xs {
	margin-bottom: 10px;
	display: inline-block;
}

.profolio-card-location i {
	margin-right: 5px;
}

.profolio-project-card:hover .profolio-card-cover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.profolio-card-descr-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

/*************************************

Card Rating

*************************************/
.profolio-card-rating {
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: 0;
	margin: 0;
	margin-bottom: 0;
}

.profolio-card-rating li {
	list-style-type: none;
	display: inline-block;
	color: darkorange;
	font-size: 13px;
}

.profolio-card-rating .profolio-star-empty {
	color: rgba(80, 80, 90, .2);
}

/*************************************

Category

*************************************/

.profolio-card-category-frame {
	-ms-flex-item-align: center;
	align-self: center;
}

.profolio-card-category-frame a {
	position: relative;
	line-height: 17px;
	opacity: 1;
	margin-right: 3px;
	margin-bottom: 10px;
	border-radius: 10px;
	font-size: 14px;
	color: #3f3a4c;
	padding: 2px 7px;
	font-weight: 200;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-card-category-frame a:before {
	font-family: "Font Awesome 5 free";
	content: "\f02b";
	height: 10px;
	width: 10px;
	font-size: 10px;
	font-weight: 600;
	color: inherit;
	margin-right: 10px;
	display: inline-block;
}

.profolio-card-category-frame a:hover {
	text-decoration: none;
	opacity: 1;
	color: inherit;
}

/******************************************

No Result

*******************************************/
.profolio-no-result {
	padding: 30px 0;
}

.profolio-no-result span {
	display: block;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-decoration: none;
	color: #3f3a4c;
	/****font-family: 'Oswald', sans-serif;****/
}

/******************************************

Map Popup

*******************************************/

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-d {
	min-height: 220px;
}

.profolio-map-pop {
	position: relative;
	min-width: 160px;
}

.profolio-map-pop .profolio-card-descr {
	padding-left: 0;
	padding-right: 0;
}

.profolio-map-pop .profolio-card-category-frame a {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 7px;
	padding: 1px 7px;
}

.profolio-map-pop .profolio-text-xs,
.profolio-map-pop .profolio-card-category-frame {
	padding: 5px 0px;
}
.profolio-map-pop .profolio-card-image-frame img{
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.profolio-close-pop {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 11px;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 15px;
	width: 15px;
	cursor: pointer;
	background-color: rgba(250, 250, 255, 1);
	color: rgba(80, 80, 90, 1);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.gm-style .gm-style-iw-c {
	padding: 15px;
}

.profolio-close-pop i {
	-ms-flex-item-align: center;
	align-self: center;
}

.profolio-close-pop:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*************************************

Project Main Image

*************************************/
.profolio-prjct-cover {
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
	height: 620px;
}

.profolio-details-map-frame {
	position: absolute;
	right: 30px;
	bottom: 30px;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: solid 10px #F79625;
}

.profolio-details-map-frame iframe {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50%;
}

/*************************************

Gallery

*************************************/
.profolio-slctr:hover {
	text-decoration: none;
}

.profolio-gal-frame {
	position: relative;
	height: 160px;
	background-size: cover;
	background-position: center;
	-webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
	box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
}

.profolio-swiper-details .swiper-pagination {
	position: relative;
}

.profolio-img-hover {
	position: absolute;
	width: 100%;
	opacity: 0;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	top: 0;
	z-index: 9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(7, 2, 46, .5)), to(rgba(5, 2, 35, .5)));
	background-image: linear-gradient(-180deg, rgba(7, 2, 46, .5) 0%, rgba(5, 2, 35, .5) 100%);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-img-hover i {
	font-size: 20px;
	padding: 10px;
	border-radius: 50%;
	-ms-flex-item-align: center;
	align-self: center;
	margin-top: 50px;
	color: rgba(250, 250, 255, 1);
	background-color: rgba(250, 250, 255, .15);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-img-hover:hover {
	opacity: 1;
	text-decoration: none;
}

.profolio-img-hover:hover.profolio-img-hover i {
	margin: 0;
}

.lg-sub-html {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}

.profolio-img-hover-video {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	background: transparent;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-img-hover-video:hover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	height: 100%;
	background: rgba(5, 2, 35, .5);
}

.profolio-img-hover-video i {
	font-size: 20px;
	padding: 10px;
	border-radius: 50%;
	-ms-flex-item-align: center;
	align-self: center;
	color: rgba(250, 250, 255, 1);
	background-color: rgba(250, 250, 255, .15);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-img-hover-video:hover.profolio-img-hover-video i {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

#lg-counter {
	font-size: 12px;
}

.arrow-align {
	text-align: right;
}

/*************************************

Custom Slider Navigation

*************************************/
.profolio-arrows-wraper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: right;
}

.profolio-button-next,
.profolio-button-prev {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #0274be;
	color: #fff;
	cursor: pointer;
	height: 40px;
	width: 40px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-swiper-details .swiper-pagination-bullet:focus,
.profolio-button-next:focus,
.profolio-button-prev:focus {
	outline: inherit;
}

.profolio-button-next i,
.profolio-button-prev i {
	-ms-flex-item-align: center;
	align-self: center;
}

.swiper-button-disabled {
	background-color: #eee;
}

.profolio-swiper-details .swiper-pagination {
	position: relative;
	padding: 30px 0 60px;
}

.profolio-swiper-details .swiper-pagination .swiper-pagination-bullet {
	height: 5px;
	width: 20px;
	background-color: #3f3a4c;
	opacity: .3;
	border-radius: 3px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-swiper-details .swiper-pagination .swiper-pagination-bullet-active {
	width: 40px;
	background-color: #0274be;
	opacity: 1;
}

.profolio-next-prev {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.profolio-disabled {
	display: none;
}

.profolio-button-filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

/*************************************

Project Review

*************************************/
.profolio-reviewer-photo {
	margin: 0 auto;
	width: 90px;
	height: 90px;
	background-size: cover;
	border-radius: 50%;
	margin-bottom: 15px;
}

.profolio-reviewer-post {
	opacity: .4;
	font-size: 11px;
}

.profolio-review-rating {
	-ms-flex-item-align: end;
	align-self: flex-end;
	padding: 0;
	margin-left: 0;
	margin-bottom: 15px;
}

.profolio-review-rating li {
	list-style-type: none;
	display: inline-block;
	color: #F79625;
	font-size: 13px;
}

.profolio-video-preview {
	background-size: cover;
	width: 220px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
}

.profolio-video-preview video,
.profolio-slctr .profolio-video-preview {
	width: 100%;
	height: 160px;
	margin-bottom: 0;
	position: relative;
}

.profolio-video-preview video {
	position: absolute;
	height: 100%;
	object-fit: cover;
}

.profolio-video-preview i {
	font-size: 20px;
	padding: 10px;
	border-radius: 50%;
	-ms-flex-item-align: center;
	align-self: center;
	color: rgba(250, 250, 255, 1);
	background-color: rgba(250, 250, 255, .15);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
	z-index: 1;
}

.profolio-video-preview:hover.profolio-video-preview i {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

/*************************************

Project List

*************************************/
.profolio-project-list-frame {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.profolio-project-list-frame .profolio-p-list-cover {
	display: block;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 220px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
.profolio-project-card .profolio-card-image-frame .profolio-card-cover img,
.profolio-project-list-frame .profolio-p-list-cover img{
	width: 100%;
	object-fit: cover;
	object-position: center;
	height: 100%;
}

.profolio-project-list-hover {
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
	z-index: 9;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	color: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(42%, rgba(7, 2, 46, 0.00)), color-stop(99%, rgba(5, 2, 35, 0.83)));
	background-image: linear-gradient(-180deg, rgba(7, 2, 46, 0.00) 42%, rgba(5, 2, 35, 0.83) 99%);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-project-list-hover .profolio-header-xs,
.profolio-project-list-hover .profolio-header-xs:hover,
.profolio-project-list-hover .profolio-elm-title {
	color: rgba(250, 250, 255, 1);
	margin-bottom: 0;
}

.profolio-project-list-frame:hover .profolio-p-list-cover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.profolio-project-list-frame:hover.profolio-project-list-frame .profolio-project-list-hover {
	background-color: rgba(0, 0, 0, .6);
}

.profolio-project-list-hover i {
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
	border-radius: 50%;
	opacity: 0;
	margin-bottom: 60px;
	color: rgba(250, 250, 255, 1);
	background-color: rgba(250, 250, 255, .15);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-project-list-frame:hover .profolio-project-list-hover i {
	opacity: 1;
	margin-bottom: 15px;
}

/******************************************

Featured Projects

*******************************************/
.profolio-ftrd-item-frame {
	width: 100%;
	position: relative;
	overflow: hidden;
}

.profolio-lg-item {
	display: block;
	position: relative;
	width: 100%;
	height: 230px;
	background-size: cover;
	background-position: center;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-ftrd-item-frame:hover .profolio-lg-item {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.profolio-lg-item .profolio-img-hover {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	text-align: center;
	width: 100%;
	padding: 30px;
}

.profolio-lg-item .profolio-img-hover i {
	margin-bottom: 40px;
}

.profolio-lg-item:hover.profolio-lg-item .profolio-img-hover i {
	margin-bottom: 15px;
}

.profolio-lg-item .profolio-img-hover * {
	color: #fff;
}

/******************************************

Pagination

*******************************************/
.profolio-pagination {
	padding: 0;
	margin: 0;
	padding: 30px 0;
}

.profolio-pagination li {
	display: inline-block;
	list-style-type: none;
	margin: 2px;
}

.profolio-pagination li a,
.profolio-pagination li span {
	/****font-family: 'Open Sans', sans-serif;****/
	display: inline-block;
	height: 40px;
	padding: 10px 15px;
	background-color: rgba(240, 240, 250, 1);
	color: rgba(90, 90, 100, 1);
	font-weight: 400;
	text-align: center;
	font-size: 12px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-pagination li a:hover {
	background-color: #0274be;
	color: #fff;
	text-decoration: none;
}

.profolio-pagination .current {
	background-color: #F79625;
	color: #fff;
}

.profolio-pagination .next {
	padding-left: 15px;
	padding-right: 15px;
	width: auto;
	font-size: 12px;
}

.profolio-leads-btn {
	margin-bottom: 10px;
}

.profolio-leads-btn--mobile {
	display: none;
}

.profolio-leads-text,
.profolio-leads-heading {
	color: #fff;
}

.profolio-leads-heading {
	margin-bottom: 10px;
}

.profolio-leads-text {
	margin-top: 20px;
}

.mfp-content {
	position: static;
}

body.admin-bar .profolio-leads-popup .mfp-close {
	top: 47px;
}

.profolio-leads-popup .mfp-close {
	background-color: #fff;
	color: #333;
	top: 15px;
	right: 15px;
}

.rp-cart-loader {
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.rp-cart-loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 100px;
}

@media screen and (max-width: 991px) {
	.profolio-leads-btn--mobile {
		display: table;
		margin: 0 auto 10px;
	}

	.profolio-leads-btn--desktop {
		display: none;
	}

	.profolio-leads-popup .mfp-close {
		top: -55px !important;
		right: 20px;
	}
}

/******************************************

Filter Buttons

*******************************************/
.profolio-filter-frame {
	text-align: center;
}

.profolio-filter-frame div {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #3f3a4c;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	opacity: .1;
	padding: 0 30px;
	color: #fff;
	cursor: pointer;
	height: 40px;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-filter-frame div:hover {
	text-decoration: none;
	opacity: .2;
}

.profolio-filter-frame div span {
	-ms-flex-item-align: center;
	align-self: center;
}

.profolio-filter-frame .profolio-filter-current {
	background-color: #0274be;
	opacity: 1;
}

.profolio-filter-frame .profolio-filter-current:hover {
	background-color: #0274be;
	opacity: 1;
}

/******************************************

Before After

*******************************************/
.ba-slider {
	direction: ltr;
	position: relative;
	height: 620px;
	position: relative;
	margin-bottom: 60px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
	box-shadow: 0 2px 4px 0 rgba(50, 50, 60, .15);
}

.ba-slider img {
	-o-object-position: center;
	object-position: center;
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
}

.ba-slider .handle:after {
	position: absolute;
	top: 50%;
	margin-left: -30px;
	font-family: "Font Awesome 5 Free";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	content: "\f0c9";
	color: #fff;
	padding: 0;
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	line-height: 64px;
	background: rgba(80, 80, 90, 1);
	border: none;
	border-radius: 50%;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ba-slider .handle.ba-draggable:after {
	width: 50px;
	height: 50px;
	font-size: 16px;
}

@media screen and (max-width: 1024px) {

	.ba-slider,
	.profolio-prjct-cover {
		height: 45vw;
	}
}

/******************************************

Filter

*******************************************/
.items-wrapper .item {
	position: inherit !important;
	height: 160px !important;
}

@media screen and (max-width: 1024px) {
	.profolio-project-cards {
		height: auto;
		overflow: inherit;
	}
}

/******************************************

Social Icons

*******************************************/
.profolio-details-social {
	padding: 0;
	margin-left: 0
}

.profolio-details-social li {
	list-style-type: none;
	display: inline-block;
}

.profolio-details-social li a {
	list-style-type: none;
	color: rgba(250, 250, 255, 1);
	background-color: rgba(225, 225, 230, 1);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-details-social li a i {
	-ms-flex-item-align: center;
	align-self: center;
}

.profolio-details-social li a:hover {
	text-decoration: none;
	color: rgba(250, 250, 255, 1);
	background-color: #FB423D;
}

@media screen and (max-width: 992px) {
	.profolio-details-map-frame {
		height: 160px;
		width: 160px;
		border: solid 6px #F79625;
	}
}

@media screen and (max-width: 768px) {

	.more-button-container {
		padding: 0;
		padding-bottom: 10px;
		width: 100%;
		height: 80px;
	}

	.more-button-container a {
		width: 100%;
		margin-right: 0;
	}

	.input-more-text {
		width: 100%;
		justify-content: center;

	}

	.profolio-more-popup {
		top: 103px;
		width: 100%;
	}

	.profolio-details-map-frame {
		right: 15px;
		bottom: 15px;
		height: 90px;
		width: 90px;
		border: solid 3px #F79625;
	}

	.profolio-section-title {
		font-size: 36px;
	}

	.profolio-arrows-wraper {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		float: inherit;
		margin-top: 10px;
	}
}

/******************************************

RTL Adaptation

*******************************************/
[dir="rtl"] .profolio-rtl-pr-15 {
	padding-right: 15px;
}

[dir="rtl"] .profolio-ltr-pr-15 {
	padding-right: 0;
}

[dir="rtl"] {
	text-align: right;
}

[dir="rtl"] .input-group-prepend {
	border-top-right-radius: 0;
}

[dir="rtl"] .profolio-default-button i {
	margin-right: 0;
	margin-left: 5px;
}

[dir="rtl"] .input-group .input-group-prepend .input-group-text {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}

[dir="rtl"] .profolio-search-dropdown {
	padding-right: 0;
	left: -130px;
	text-align: right;
}

[dir="rtl"] .profolio-search-dropdown li {
	padding-right: 40px;
}

[dir="rtl"] .profolio-search-dropdown input {
	margin-right: -25px;
	display: inline-block;
}

[dir="rtl"] .profolio-project-card {
	text-align: right;
}

[dir="rtl"] .profolio-text-sm i {
	margin-right: 0;
	margin-left: 5px;
}

[dir="rtl"] .profolio-text-xs i {
	margin-right: 0;
	margin-left: 5px;
}

[dir="rtl"] .profolio-map-pop {
	text-align: right;
	max-width: 100%;
	padding-right: 10px;
}

[dir="rtl"] .pac-item {
	text-align: right;
	margin-left: 15px;
}

[dir="rtl"] .profolio-card-category {
	margin-left: 10px;
	margin-right: 0;
}

@media (max-width: 768px) {
	[dir="rtl"] .profolio-md-rtl-pl-15 {
		padding-right: 0;
	}
}

[dir="rtl"] .profolio-card-category-frame a {
	margin-right: 0;
	margin-left: 10px;
}

[dir="rtl"] .arrow-align {
	text-align: left;
}

[dir="rtl"] .profolio-arrows-wraper {
	float: left;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}

[dir="rtl"] .profolio-button-next,
[dir="rtl"] .profolio-button-prev {
	margin-left: 0;
	margin-right: 5px;
}

[dir="rtl"] .profolio-r-link i {
	margin-left: 0;
	margin-right: 15px;
}

[dir="rtl"] .profolio-l-link i {
	margin-left: 15px;
	margin-right: 0;
}

[dir="rtl"] .profolio-r-link:hover.profolio-r-link i {
	margin-right: 7px;
}

[dir="rtl"] .profolio-l-link:hover.profolio-l-link i {
	margin-left: 7px;
}

[dir="rtl"] .profolio-elm-title span {
	margin-right: 0;
	margin-left: 7px;
}

[dir="rtl"] .ba-slider .handle:after {
	margin-left: -35px;
}

[dir="rtl"] .ba-slider .handle.ba-draggable:after {
	-webkit-transform: translateX(7px) rotate(90deg);
	transform: translateX(7px) rotate(90deg);
}

[dir="rtl"] .profolio-title-page,
[dir="rtl"] .profolio-project-desc {
	display: block;
	text-align: right;
}

[dir="rtl"] .profolio-right-side {
	text-align: right;
}

[dir="rtl"] .profolio-card-area-frame a {
	padding-left: 15px;
	padding-right: 0;
}

[dir="rtl"] .pro_fa-chevron-right:before {
	content: "\f053";
}

[dir="rtl"] .pro_fa-chevron-left:before {
	content: "\f054";
}

[dir="rtl"] .profolio-section-title,
[dir="rtl"] .taxonomy-description {
	text-align: right;
}

[dir="rtl"] .profolio-container {
	text-align: right;
}

[dir="rtl"] .profolio-card-rating,
[dir="rtl"] .profolio-details-social {
	margin-right: 0;
}

[dir="rtl"] .lg-outer,
[dir="rtl"] .lg-outer .lg {
	text-align: right;
}


.profolio-similar-projects a {
	display: inline-block;
	margin-right: 5px;
	font-size: 14px;
	font-weight: 600;
	color: rgba(80, 80, 90, 1);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

[dir="rtl"] .profolio-default-simple-gallery .profolio-media-more,
[dir="rtl"] .profolio-simple-gallery .profolio-media-more {
	text-align: right;
}


.profolio-similar-projects a:hover {
	color: #007bff;
	text-decoration: none;
}

.profolio-project-modal {
	position: relative;
	background: #FFF;
	padding: 20px;
	width: auto;
	max-width: 80%;
	margin: 0 auto;
	height: 100vh;
	overflow-y: auto;
}


.profolio-simple-gallery {
	padding-bottom: 30px;
}


.profolio-simple-gallery .profolio-slctr {
	display: block;
}

.profolio-default-simple-gallery {
	padding-bottom: 30px;
}

.profolio-default-simple-gallery .profolio-gal-frame {
	width: 100%;
	height: 700px;
}

.profolio-media-more {
	width: 100%;
	margin-top: 10px;
}

.profolio-default-simple-gallery .profolio-media-more,
.profolio-simple-gallery .profolio-media-more {
	margin-bottom: 30px;
}

.profolio-media-more a {
	font-size: 14px;
	font-weight: 600;
	color: rgba(80, 80, 90, 1);
	-webkit-transition: .3s;
	transition: .3s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.profolio-media-more a:hover {
	color: #007bff;
	text-decoration: none;
}

.profolio-default-simple-gallery-item .profolio-media-more {
	text-align: center;
	margin-top: 15px;
}

.profolio-default-simple-gallery-item .profolio-media-more a {
	font-size: 16px;
}


.profolio-simple-gallery .profolio-col-lg-12 .profolio-gal-frame {
	height: 650px;
}


@media (max-width: 992px) {
	.profolio-simple-gallery .profolio-col-lg-12 .profolio-gal-frame {
		height: 370px;
	}
}

@media (max-width: 768px) {
	.profolio-simple-gallery .profolio-col-lg-12 .profolio-gal-frame {
		height: 300px;
	}
}


.profolio-simple-gallery .profolio-col-lg-6 .profolio-gal-frame {
	height: 340px;
}

@media (max-width: 992px) {
	.profolio-simple-gallery .profolio-col-lg-6 .profolio-gal-frame {
		height: 370px;
	}
}

@media (max-width: 768px) {
	.profolio-simple-gallery .profolio-col-lg-6 .profolio-gal-frame {
		height: 300px;
	}
}


.profolio-simple-gallery .profolio-col-lg-4 .profolio-gal-frame {
	height: 240px;
}

@media (max-width: 992px) {
	.profolio-simple-gallery .profolio-col-lg-4 .profolio-gal-frame {
		height: 370px;
	}
}

@media (max-width: 768px) {
	.profolio-simple-gallery .profolio-col-lg-4 .profolio-gal-frame {
		height: 300px;
	}
}


.profolio-simple-gallery .profolio-col-lg-3 .profolio-gal-frame {
	height: 160px;
}

@media (max-width: 992px) {
	.profolio-simple-gallery .profolio-col-lg-3 .profolio-gal-frame {
		height: 220px;
	}
}

@media (max-width: 768px) {
	.profolio-simple-gallery .profolio-col-lg-3 .profolio-gal-frame {
		height: 160px;
	}
}

@media (max-width: 570px) {
	.profolio-simple-gallery .profolio-col-lg-3 .profolio-gal-frame {
		height: 300px;
	}
}
